.feedpage {
  background-color: white;
}

.contents {
  margin-top: 35px;
  margin-left: 8%;
  margin-right: 5%;
  border: 0.5px solid grey;
}

.issue {
  background-color: grey;
}

.message {
  border-radius: 15px;
  font-size: 14px;
  padding: 3px;
  margin: 3px;
}

.message__bug {
  background-color: #ff8b8b;
}

.message__type {
  background-color: violet;
}

.message__component {
  background-color: yellow;
}

.Header {
  font-family: "Open Sans", sans-serif;
  height: 52px;
  width: 100%;
  background-color: #eeeeee;
  top: 0;
  z-index: 100;
}

.title {
  padding: 20px;
  color: blue;
  background-color: #eeeeee;
}

.header__lower {
  padding: 20px;
  display: flex;
  color: black;
  background-color: #eeeeee;
}

.header__lower > p {
  padding-left: 30px;
}
