.feedpage {
  background-color: white;
}

.contents {
  margin-top: 35px;
  margin-left: 8%;
  margin-right: 5%;
  border: 0.5px solid grey;
}

.issue {
  background-color: grey;
}

.Header {
  font-family: "Open Sans", sans-serif;
  height: 52px;
  width: 100%;
  background-color: #eeeeee;
  /* position: relative; */
  top: 0;
  z-index: 100;
}

.title {
  padding: 20px;
  color: blue;
  background-color: #eeeeee;
}

.lower-header {
  padding: 20px;
  display: flex;
  color: black;
  background-color: #eeeeee;
}

.lower-header > p {
  padding-left: 30px;
}
